/* src/admin/styles/AppLayout.css */
.app-layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .app-header {
    background: linear-gradient(90deg, #007bff, #0056b3);
    color: #fff;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
  }
  
  
  
  .app-content {
    margin-left: 250px; /* Match sidebar width */
    padding: 20px;
    
    flex: 1;
    margin-top: 110px; /* Adjust based on header height */
    overflow-y: auto;
  }